/* Set the font for the entire app to white Arial */
body {
    color: white;
    font-family: Arial, sans-serif;
    background-color: #100F0F;
}

/* Style buttons */
button {
    background-color: #D0C3F3;
    border-color: #D0C3F3;
    border: 2px solid #D0C3F3;
    border-radius: 10px;
    box-shadow: none;
    margin: 2px; /* Adds space around buttons to prevent overlap */
} 

button:hover {
    background-color: #E4DEF5;
    border: 2px solid #E4DEF5;
}

.Select-control {
    background-color:  #100F0F !important;
    color:white;
  }
  
.Select-menu-outer {
    background-color:  #100F0F;
    color: white;
}

.Select-value-label {
    color: white !important;
}

.rc-slider {
    background-color: #100F0F;
}


.rc-slider-track {
    background-color: #50a9d1;
}

.rc-slider-rail {
    background-color: #5B5A56;
}

.rc-slider-handle {
    border: 2px solid #50a9d1;
    background-color: #50a9d1;
    /* Adjust handle size if needed */
    height: 14px;
    width: 14px;
    margin-top: -5px; /* Adjust if changing size to ensure handle is centered */
}

.rc-slider-handle:hover, .rc-slider-handle:active {
    border-color: #85cdee;
    background-color: #85cdee;
}


input {
    color: white;
    font-family: Arial, sans-serif;
    background-color: #100F0F;
    border: 1px solid white;
    border-color: white;
}

input[checklist] {color:#100F0F;}

.Checklist-item {
    background-color: #100F0F;
}
